<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Header fragment</title>
</head>
<body>

<!-- Page Preloder -->
<div th:fragment="preload" id="preloder">
    <div class="loader"></div>
</div>

<!-- Header section -->
<header th:fragment="header" class="header-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-3">
                <div class="site-logo">
                    <a href="/"><img src="/img/logo.png" alt="Site logo"></a>
                </div>
                <div class="nav-switch">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
            <div class="col-lg-10 col-md-9">
                <nav class="main-menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About us</a></li>
                        <li><a href="/courses">Courses</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="/login" class="login" sec:authorize="isAnonymous()">Login</a></li>
                        <li><a href="/logout" class="logout" sec:authorize="isAuthenticated()">Logout</a></li>
                        <li><a th:href="@{/users/{path}(path=${#authentication.principal.username})}" class="greeting"
                               sec:authorize="isAuthenticated()">
                            Hi, <span sec:authentication="name" class="name"/>!
                        </a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Header section end -->

</body>
</html>