#user-img-upload {
    margin-top: 20px;
}

.profile-container {
    /*margin-top: 50px;*/
    /*margin-bottom: 50px;*/
    padding: 50px 100px;
}

.details-link, .enrolled-link, .my-courses-link, .create-link {
    margin-bottom: 0;
    color: black;
    font-size: 1.5rem;
}

.details-link-p, .enrolled-link-p, .my-courses-link-p, .create-link-p {
    margin-bottom: 0;
}

.role {
    color: black;
    text-align: center;
    font-weight: 500;
}

a:hover {
    color: #41BC3F !important;
}

.email, .first-name, .middle-name, .last-name, .save-btn-row {
    width: 60%;
}

.field-header {
    color: black;
    margin-bottom: 0;
    margin-top: 20px;
}

.display-container {
    padding-left: 100px;
}

/*.input-label-0, .input-label-1 {*/
/*    margin-bottom: 0;*/
/*}*/

.input-label-1 {
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    text-decoration: none;
    font-weight: normal;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 70px;
}

.save-user-details{
    margin-top: 20px;
    justify-content: center;
    text-align: center;
}

.save-details-success, .save-details-error {
    justify-content: center;
    text-align: center;
}

.save-btn-row {
    min-height: 50px;
}

#ongoing-count, #completed-count, #active-count, #draft-count {
    font-size: 21px;
    font-weight: normal;
}

.percentage {
    text-align: center;
    background: #edf4f6;
}

.course-item .course-thumb .grade {
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    background: #41BC3F;
    display: inline-block;
    padding: 13px 19px;
    margin: 14px;
}

/*.course-div {*/
/*    min-height: 350px;*/
/*}*/

.course-title, .category-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.course-info {
    padding-bottom: 0;
}

.no-courses, .error {
    padding-left: 20px;
}
section.hero-section.hero-section-auth.set-bg {
    height: 150px;
}

.error {
    color: red;
}

.download-btn {
    float: right;
}

.data-row {
    margin: 10px 0;
    padding: 10px 0;
    border-top: solid 1px black;
}

.homework-container {
    min-height: 100px;
}

input.grade {
    width: 100%;
}

.col-lg-1.garde{
    padding-left: 0px;
}
.assignment-count, .course-rating  {
    background-color: white;
    color: #41BC3F;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 7px;
    text-align: center;
    font-size: 20px;
}

.assignment-count:hover, .course-rating:hover {
    font-weight: bold;
}
.course-text {
    margin-bottom: 10px;
}