<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Admin Page</title>
    <meta charset="UTF-8">
    <meta name="description" content="DigitalUni">
    <meta name="keywords" content="digitaluni, education, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="shortcut icon"/>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i"
          rel="stylesheet"/>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/bootstrap.admin.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/owl.carousel.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/admin.css"/>

</head>
<body>
<div th:fragment="preload" id="preloder">
    <div class="loader"></div>
</div>

<div id="wrapper">
    <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-brand" href=""><img src="/img/logo.png" class="logo"/></a>
        </div>
        <div class="navbar-header navbar-logout">
            <a href="/logout" class="btn btn-primary square-btn-adjust logout"
               sec:authorize="isAuthenticated()">Logout</a>
        </div>
    </nav>
    <!-- /. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li class="text-center">
                    <div th:if="${image != null}" id="profile-picture">
                        <img th:src="@{'data:image/png;base64,' + ${image}}" class="avatar img-thumbnail"
                             alt="avatar">
                    </div>
                    <div th:unless="${image != null}" id="default-picture">
                        <img src="/img/admin.png" class="avatar img-thumbnail"
                             alt="avatar"/>
                    </div>
                </li>
                <li>
                    <a class="active-menu" href=""><i class="fa fa-dashboard fa-2x"></i> Dashboard</a>
                </li>
                <li>
                    <a href=""><i class="fa fa-bars fa-2x"></i> Courses</a>
                </li>
                <li>
                    <a href=""><i class="fa fa-users fa-2x"></i> Students</a>
                </li>
                <li>
                    <a href=""><i class="fa fa-university fa-2x"></i> Teachers</a>
                </li>
                <li>
                    <a href=""><i class="fa fa-edit fa-2x"></i> Pending Approvals</a>
                </li>
                <li>
                    <a href=""><i class="fa fa-user-plus fa-2x"></i> Create User</a>
                </li>
                <li>
                    <a href="" class=""><i class="fa fa-user fa-2x"></i> My Profile</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h2>Dashboard</h2>
                    <h5>Welcome <span sec:authentication="name" class="name"/>, Love to see you back. </h5>
                    <div sec:authentication="name" class="hidden-username"></div>
                </div>
            </div>
            <!-- /. ROW  -->
            <hr/>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <div class="panel panel-back noti-box">
                <span class="icon-box bg-color-red set-icon">
                    <i class="fa fa-users"></i>
                </span>
                        <div class="text-box">
                            <p class="main-text students"><span th:text="${studentsCount}"/> Students</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <div class="panel panel-back noti-box">
                <span class="icon-box bg-color-green set-icon">
                    <i class="fa fa-bars"></i>
                </span>
                        <div class="text-box">
                            <p class="main-text courses"><span th:text="${coursesCount}"/> Courses</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <div class="panel panel-back noti-box">
                <span class="icon-box bg-color-blue set-icon">
                    <i class="fa fa-university"></i>
                </span>
                        <div class="text-box">
                            <p class="main-text teachers"><span th:text="${teachersCount}"/> Teachers</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="wrapper">
                    <div id="container" class="justify-content-center mt-3">
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <nav aria-label="Filter result pages">
                    <ul class="pagination justify-content-center">
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /. PAGE INNER  -->
    </div>

    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->


<!-- footer section -->
<div th:insert="/fragments/footer :: footer"></div>
<!-- footer section end -->

<!--====== Javascripts & Jquery ======-->
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.menu.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/password-match.js"></script>
<script src="/js/admin.js"></script>

</body>
</html>
