<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>New course</title>
    <meta charset="UTF-8">
    <meta name="description" content="DigitalUni">
    <meta name="keywords" content="digitaluni, education, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="shortcut icon"/>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i"
          rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>


    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/owl.carousel.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/courseCreate.css"/>

</head>
<body>
<div th:insert="/fragments/header :: preload"></div>
<div th:insert="/fragments/header :: header"></div>

<section class="hero-section set-bg" data-setbg="/img/header-background-2.jpg"></section>

<form class="form-horizontal" th:object="${course}">
    <section>
        <div class="container" id="course-container">
            <h3>Course details:</h3>
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <p>Title:<span id="title-error"></span></p>
                                <input type="text" class="form-control" id="title"
                                       title="Enter title"
                                       th:placeholder="${course.title}" th:value="${course.title}"
                                       name="title">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <p>Category:<span id="category-error"></span></p>
                                <select class="selectpicker" data-live-search="true" name="style" id="category" th:field="*{category.id}">
                                    <option value="0">Select category</option>
                                    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                                </select>
                                <button type="button" class="btn btn-success" id="new-category-btn">New category</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <p>Description:<span id="description-error"></span></p>
                            <textarea id="course-description-text" th:utext="${course.description}"
                                 th:title="${course.description}"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-md-12 text-center img-container">
                            <div th:if="${picture != null}" id="course-picture">
                                <img th:src="@{'data:image/png;base64,' + ${picture}}" class="course-image img-thumbnail"
                                     alt="Image">
                            </div>
                            <div th:unless="${picture != null}" id="default-picture">
                                <img src="/img/courses/f-2.jpg"
                                     alt="Image" class="default-image">
                            </div>
                            <div class="upload-content" id="course-img-upload">
                                <div class="single-upload">
                                    <form class="singleUploadForm" id="singleUploadForm-course" name="singleUploadForm-course">
                                        <label id="input-label-0-course" class="btn btn-success input-label-0" for="singleFileUploadInput-course">Choose a file</label>
                                        <label id="input-label-1-course" class="input-label-1" for="singleFileUploadInput-course">No file chosen</label>
                                        <input style="overflow: hidden;" id="singleFileUploadInput-course"
                                               type="file" name="file" class="file-input" required/>
                                        <button type="button" class="btn btn-success submit-btn-course" id="submit-btn-course-img">Submit Image</button>
                                    </form>
                                    <div class="upload-response"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h3 id="program-row">Program:<span id="program-error"></span></h3>
            <div class="row">
                <div class="col-lg-12">
                    <div id="program-div" th:utext="${course.program}"></div>
                </div>
            </div>
            <div class="row course-message-row">
                <div class="col-lg-12 save-details">
                    <button type="button" class="btn btn-success" id="save-course-btn">Save course details</button>
                </div>
                <div class="col-lg-12 save-details-success"></div>
                <div class="col-lg-12 save-details-error"></div>
            </div>
        </div>
    </section>

    <section>
        <div class="container" id="lectures-container">
        </div>
        <div class="container  new-lecture-btn-container">
        </div>
    </section>

    <section>
        <div class="container" id="save-btn-container">
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-2">
                    <button type="button" class="btn btn-success" id="submit-course-btn" hidden disabled>Submit Course</button>
                </div>
                <div class="col-lg-2">
                    <button type="button" class="btn btn-danger" id="delete-btn" hidden disabled>Delete Course</button>
                </div>
                <div class="col-lg-4"></div>
            </div>
            <div class="row submit-course-error"></div>
        </div>
    </section>
</form>

<div th:insert="/fragments/footer :: footer"></div>

<script th:inline="javascript">
    /*<![CDATA[*/

    let courseId = /*[[${course.id}]]*/ 'default';
    let username = /*[[${#authentication.name}]]*/ 'default';

    /*]]>*/
</script>
<!--====== Javascripts & Jquery ======-->
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/circle-progress.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/courseCreate.js"></script>
<script src="/dist/autosize.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

<script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
</body>
</html>